<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>码农社区</title>
    <meta http-equiv="Content-Type" content="text/html; chartset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<div th:replace="commons/topbar :: topbar"></div>
            <div class="jumbotron">
                <h1>出错了!</h1>
                <p th:text="${message}">服务太热啦，请稍后再试哦，亲！</p>
                <p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
            </div>
</body>
</html>